<%= render "layouts/admin_header" %>

		<div class="container" id="ideas">
			<div class="row">
				<div class="col-md-3"></div>
				<form class="form col-md-6">
					<div class="form-group">
						<input type="text" class="form-control input-lg" placeholder="Pesquisar">
					</div>
				</form>
			</div>

			<div class="row">
				<div class="box">
					"resultado(s) aqui"
				</div>
			</div>

		</div>