<%= render "layouts/pt_header" %>

<div class="container" id="ideas">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Contactar
          <strong>Mais IS</strong>
        </h2>
        <hr>
      </div>
      <div class="col-md-8">
        <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
        <iframe allowfullscreen frameborder="0" height="400"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571.1923659763484!2d-8.59633004545888!3d41.17810485074735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd246440ce4b5269%3A0x35e8037791644ddf!2sFaculdade+de+Engenharia+da+Universidade+do+Porto!5e0!3m2!1spt-PT!2spt!4v1444842140812"
          style="border:0" width=100%></iframe>
      </div>
      <div class="col-md-4">
        <p>Telefone:
          <strong>123456789</strong>
        </p>
        <p>Email:
          <strong>
            <a href="mailto:name@example.com">nome@exemplo.com</a>
          </strong>
        </p>
        <p>Morada:
          <strong>Rua Dr. Roberto Frias, s/n
            <br>4200-465 Porto PORTUGAL</strong>
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <%= render "contacts/new" %>

</div>
