<%= render "layouts/pt_header" %>

<div class="container" id="ideas">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Contactar
          <strong>Mais IS</strong>
        </h2>
        <hr>
      </div>
      <div class="col-md-4 text-left">
        <iframe allowfullscreen frameborder="0" height="400"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3002.9983678106546!2d-8.594449019296277!3d41.17820280276134!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd246440ce4b5269%3A0x35e8037791644ddf!2sFaculdade+de+Engenharia+da+Universidade+do+Porto!5e0!3m2!1spt-PT!2spt!4v1447843976199"
          style="border:0" width=100%></iframe>
      </div>
      <div class="col-md-8">
        <%= render "contacts/new" %>
      </div>
    </div>
  </div>
</div>
