<%= render "layouts/pt_header" %>

<div class="container" id="ideas">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
          <strong>Acerca</strong>
        </h2>
        <hr>
        <p>Esta plataforma foi desenvolvida no âmbito da unidade curricular Laboratório de Desenvolvimento de Software, no ano letivo 2015/2016, do 4º ano do Mestrado Integrado em Engenharia Informática e Computação. O projeto, inserido na iniciativa
          <a href="https://paginas.fe.up.pt/~aaguiar/codingforsocialimpact/">
            <strong>Coding For Social Impact</strong>
          </a>, foi desenvolvido para atender aos objetivos do Comissariado para a Sustentabilidade da FEUP.</p>
        <br>
        <div class="row text-center">
          <h4 class="text-center">Equipa de desenvolvimento</h4>
          <hr>
          <div class="col-sm-5ths">
            <p class="join">Diogo Soares</p>
            <a href="https://pt.linkedin.com/in/diogo-soares-66723b119" class="btn btn-xs btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
          </div>
          <div class="col-sm-5ths">
            <p class="join">Joana Beleza</p>
            <a href="https://pt.linkedin.com/in/joana-beleza-803aa399" class="btn btn-xs btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
          </div>
          <div class="col-sm-5ths">
            <p class="join">João Morgado</p>
            <a href="https://pt.linkedin.com/in/joaomorgado94" class="btn btn-xs btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
          </div>
          <div class="col-sm-5ths">
            <p class="join">Luís Pinto</p>
            <a href="https://pt.linkedin.com/in/luís-pinto-aa2150119" class="btn btn-xs btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
          </div>
          <div class="col-sm-5ths">
            <div>
              <p class="join">Paulo Costa</p>
              <a href="https://pt.linkedin.com/in/paulocosta94" class="btn btn-xs btn-social-icon btn-linkedin">
                <span class="fa fa-linkedin"></span>
              </a>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <h4 class="text-center">Professores</h4>
          <hr>
          <div class="col-lg-6" id="left">
            <p class="join">Ademar Aguiar</p>
          </div>
          <div class="col-lg-6" id="right">
            <p class="join">Luís Teixeira</p>
            <a href="https://pt.linkedin.com/in/luisfteixeira" class="btn btn-xs btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
