<%= render "layouts/pt_header" %>

<div class="container" id="ideas">

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
          <strong>Acerca</strong>
        </h2>
        <hr>
        <p>Esta plataforma foi desenvolvida no âmbito da unidade curricular Laboratório de Desenvolvimento de Software do 4º ano do Mestrado Integrado em Engenharia Informática e Computação na iniciativa
          <strong>Coding For Social Impact</strong>.</p>
        <br>
        <div class="row text-center">
          <h4 class="text-center">Equipa de desenvolvimento</h4>
          <div class="col-sm-5ths">
            <p class="join">Diogo Soares</p>
            <a href="#" class="btn btn-sm btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
          </div>
          <div class="col-sm-5ths">
            <p class="join">Joana Beleza</p>
            <a href="#" class="btn btn-sm btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
          </div>
          <div class="col-sm-5ths">
            <p class="join">João Morgado</p>
            <a href="#" class="btn btn-sm btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
          </div>
          <div class="col-sm-5ths">
            <p class="join">Luís Pinto</p>
            <a href="#" class="btn btn-sm btn-social-icon btn-linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
          </div>
          <div class="col-sm-5ths">
            <div>
              <p class="join">Paulo Costa</p>
              <a href="https://pt.linkedin.com/in/paulo-costa-46a528109" class="btn btn-sm btn-social-icon btn-linkedin">
                <span class="fa fa-linkedin"></span>
              </a>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <h4 class="text-center">Professores</h4>
          <div class="col-lg-6">
            <p id="left">Ademar Aguiar</p>
          </div>
          <div class="col-lg-6">
            <p id="right">Luís Teixeira</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
