//admins view - puts in two columns the emails
#listAdmins {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: none;
}
//some corrections to buttons after emails
.push-right {
  margin-left: 5px;
  margin-top: 7px;
}
//simple corrections to emails
.push-down {
  float: left;
  margin-top: 8px;
}
