</div>
<footer>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6">
        <h5>Copyright &copy; 2016 Comissariado para Sustentabilidade</h5>
      </div>
      <div class="col-lg-6">
        <%= link_to "Acerca desta página", creators_path, id: 'about' %>
      </div>
    </div>
  </div>
</div>
</footer>

<script>
startCounters();
</script>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({interval: 4000}) //changes the speed
</script>
</body>

</html>
