</div>
<footer>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h5>Copyright &copy; Comissariado para Sustentabilidade</h5>
      <%= link_to "Acerca/About", creators_path %>
    </div>
  </div>
</div>
</footer>

<script>
startCounters();
</script>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({interval: 4000}) //changes the speed
</script>
</body>

</html>
