</div>

<% if current_user %>
<div id="log-out">
<strong><%= current_user.email %></strong>
<%= link_to "Log Out", logout_path, style: "color: red;" %>
</div>
<% end %>

<footer>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h4>Copyright &copy; LDSO-5D</h4>
    </div>
  </div>
</div>
</footer>

<script>
startCounters();
</script>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({interval: 4000}) //changes the speed
</script>
</body>

</html>
